{# templates/event/liste.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block content %}
    <section class="bg-light p-3">
    <center><h1>Nos cocktails</h1></center>
    </section>

    <section class="row justify-content-start">
        {% for cocktails in cocktail %}
        <div class="col-sm-3">
            <p></p>
            <div class="card">
                <img class="card-img-top" src="https://boiremixologie.com/files/medias/_thumb/{{cocktails.imagePath}}" alt="Card image cap">
                <div class="card-body">
                    <center><h2>{{ cocktails.name }}</h2></center>
                    <center><p>{{ cocktails.price }} €</p></center>
                    <hr>
                    <center><a href="{{path("cart_add", {id: cocktails.id})}}" class="btn btn-success">
                        <i class="bi bi-cart-plus"></i> Ajouter à mon panier
                    </a></center>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}