{% extends 'adminBase.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.imagePath) }}
    {{ form_row(form.photo) }}
    {{ form_row(form.ingredients) }}
    <div class="row">
        <div class="col"> {{ form_row(form.submit) }}</div>
        <div class="col">{{ form_row(form.reset) }}</div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block PageTitle %}
    Ajouter un cocktail
{% endblock %}

{% block Title %}
    Ajouter un cocktail
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}