{% extends 'adminBase.html.twig' %}

{% block body %}
    <div class="row">
        {% for cocktail in cocktails %}

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{asset('uploads/cocktails/'~cocktail.imagePath)}}" alt="image cocktail">
                <div class="card-body">
                    <h5 class="card-title">{{ cocktail.name }}</h5>
                    <p class="card-text">{{ cocktail.description }}</p>
                    <p class="card-text">Prix : {{ cocktail.price }} €</p>
                    <p class="card-text">Crée le : {{ cocktail.createdAt|format_datetime() }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('cocktail_edit', {id: cocktail.id}) }}" class="btn btn-primary">Editer</a>
                    <a href="{{ path('cocktail_delete', {id: cocktail.id}) }}" class="btn btn-primary">Supprimer</a>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}

{% block PageTitle %}
    Liste des cocktails
{% endblock %}

{% block Title %}
    Liste des cocktails
{% endblock %}